.App {
  display: flex;
  justify-content: space-between;
}
.leftSide {
  width: 100%;
}
.centerForm {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.centerForm form {
  padding: 10px;
  border: 3px solid rgb(23, 75, 95);
  border-radius: 5px;
  background-color: gainsboro;
}
.centerForm input {
  margin-right: 5px;
}
.Sidebar {
  border: 3px solid rgb(23, 75, 95);
  max-width: 170px;
}
.inSideBar {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inSideBar #inputForm {
  display: flex;
  flex-direction: column;
}
.inSideBar h1 {
  font-size: 18px;
  text-align: center;
}
.inSideBar img {
  margin: 5px;
}
.inSideBar input {
  max-width: 120px;
  margin: 5px;
}
.inSideBar button {
  width: 100%;
  border: 1px solid blue;
  box-shadow: 2px 2px 5px blue;
  border-radius: 5px;
  color: blue;
  font-size: 16px;
  padding: 2px;
}
.inSideBar #inputAmountForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
#inputAmountForm label {
  text-align: center;
}
.options {
  margin: 20px;
}
select {
  font-size: large;
}
option {
  font-size: large;
}
